/* Philosophy Section */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 80px;
gap: 24px;
isolation: isolate;

width: 1440px;
height: 837px;

background: #050507;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;
