/* Ellipse 4 */

position: absolute;
width: 280px;
height: 280px;
left: 1195px;
top: 648px;

background: #6C3BFF;
filter: blur(175px);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Frame 2313 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 107px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* An AI & Data Innovation Community where people learn, experiment, research, and build meaningful technology together. */

width: 58px;
height: 27px;

/* Typography/Manrope - Body/B-1 */
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* An AI & Data Innovation Community where people learn, experiment, research, and build meaningful technology together. */

width: 107px;
height: 21px;

/* Typography/Manrope - Body/B-3 */
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2313 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 52px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* An AI & Data Innovation Community where people learn, experiment, research, and build meaningful technology together. */

width: 42px;
height: 27px;

/* Typography/Manrope - Body/B-1 */
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* An AI & Data Innovation Community where people learn, experiment, research, and build meaningful technology together. */

width: 52px;
height: 21px;

/* Typography/Manrope - Body/B-3 */
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2313 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 112px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* An AI & Data Innovation Community where people learn, experiment, research, and build meaningful technology together. */

width: 112px;
height: 27px;

/* Typography/Manrope - Body/B-1 */
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* An AI & Data Innovation Community where people learn, experiment, research, and build meaningful technology together. */

width: 66px;
height: 21px;

/* Typography/Manrope - Body/B-3 */
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2313 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 67px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* An AI & Data Innovation Community where people learn, experiment, research, and build meaningful technology together. */

width: 67px;
height: 27px;

/* Typography/Manrope - Body/B-1 */
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* An AI & Data Innovation Community where people learn, experiment, research, and build meaningful technology together. */

width: 51px;
height: 21px;

/* Typography/Manrope - Body/B-3 */
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2313 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 161px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* An AI & Data Innovation Community where people learn, experiment, research, and build meaningful technology together. */

width: 161px;
height: 27px;

/* Typography/Manrope - Body/B-1 */
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* An AI & Data Innovation Community where people learn, experiment, research, and build meaningful technology together. */

width: 111px;
height: 21px;

/* Typography/Manrope - Body/B-3 */
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
