/* Secondary Buttom */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 16px;
isolation: isolate;

width: 198px;
height: 51px;

background: #1A1A1A;
background-blend-mode: plus-lighter;
box-shadow: inset 6px 6px 1.06557px -6px rgba(255, 255, 255, 0.5), inset 4px 4px 2px -4px #B3B3B3, inset -6px -6px 2px -4px #B3B3B3, inset 0px 0px 0px 2px #999999, inset 0px 0px 40px rgba(242, 242, 242, 0.5);
backdrop-filter: blur(6px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 200px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
