/* Footer */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px 80px 28px;
gap: 60px;

position: relative;
width: 1440px;
height: 556px;
left: 559px;
top: 1960px;

background: url(ChatGPT Image 13 Sep 2026, 21.59.25 1 (1).png);
