/* CTA */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 12px;
gap: 14px;

width: 151px;
height: 32px;

background: radial-gradient(88.1% 186.23% at 8.33% 18.75%, #6C3BFF 0%, #3C2189 98.03%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: inset 0px -1px 1.9px rgba(255, 255, 255, 0.25);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
