/* Property 1=Data Science Detile */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 36px;

position: absolute;
width: 1280px;
height: 551px;
left: 20px;
top: 20px;



/* HoDS Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: relative;
width: 2564px;
height: 436px;
left: 2757px;
top: 2080px;
overflow-x: scroll;

