/* READY TO BECOME A SORCERY? */

width: 1278px;
height: 68px;

font-family: 'Nasalization';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 68px;
text-align: center;

background: linear-gradient(270deg, #FFFFFF 0%, #EDE8FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* An AI & Data Innovation Community where people learn, experiment, research, and build meaningful technology together. */

width: 586px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
text-align: center;
letter-spacing: -0.011em;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Secondary Buttom */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 16px;

width: 205px;
height: 51px;

background: radial-gradient(108% 590% at 26.44% 0%, #6C3BFF 0%, #9B7BFF 50%, #6C3BFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: inset 0px 2px 1.2px #CFDFFF, inset -2px -2px 1.4px #97BFFF, inset -8px -6px 8px rgba(226, 202, 255, 0.25), inset -2px -2px 4px rgba(178, 211, 255, 0.9);
border-radius: 200px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
