/* Property 1=Tab Home */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 24px 80px;
gap: 194px;

position: absolute;
width: 1440px;
height: 106.8px;
left: 20px;
top: 20px;

background: linear-gradient(180deg, rgba(108, 59, 255, 0.1) 0%, rgba(11, 7, 18, 0) 100.19%);
backdrop-filter: blur(0px);
/* Note: backdrop-filter has minimal browser support */
